*{
    margin: 0;
    padding: 0;
}

.info{
    margin-top: 0;
    margin-left: 0;
    padding-top: 1%;
    font-size: 15px;
}

.field{
    padding-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.oneBoxEdit{
    margin-bottom: 6%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.oneBox{
    margin-top: 0;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 2%;
}

.overallCont{
    margin-bottom: 10%;
    margin-top: 6%;
}

.iconsNew{
    color: #1976d2;
    display: flex;
}

.ic{
    color: #1976d2;
}

.del {
    margin-left: 5%;
    margin-right: 5%;
}

.textField{
    height: 40px;
    width: 95%;
}

.head{
    display:flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 6%;
    padding-left: 4%;
    padding-right: 3%;
}