*{
    margin: 0;
    padding: 0;
}

.long-text {
    margin-bottom: 1%;
}
  
.clamp {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}